<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Андрей Платонович Платонов</string>
	<key>book-info</key>
	<dict>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>05959C9B34350776969301996C9C4C43</string>
		<key>publisher-unique-id</key>
		<string>urn:uuid:bfd4e9ca-8dd1-429c-a2e6-c6f447b2d91c</string>
		<key>unique-id</key>
		<integer>2575807191079596739</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Война</string>
	<key>playlistName</key>
	<string>Война</string>
</dict>
</plist>
