.options-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.options-menu-overlay.fade-out {
    opacity: 0;
}

.options-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    background: #1e1e1e;
    padding: 30px;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
    max-height: 50%;
    overflow-y: auto;
    /* transform: translateY(0); */
    transition: transform 0.3s ease-out;
}

@media only screen and (min-width: 500px) {
    .options-menu {
        left: calc(50% - 250px);
        /* transform: translateX(-50%); */
    }
    .options-menu.slide-down {
        transform: translateY(100%);
    }
}

.options-menu.slide-down {
    transform: translateY(100%);
}

.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.options-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 45px;
}

.options-buttons button {
    padding: 15px;
    font-size: 18px;
    background-color: #333;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.options-buttons button:hover {
    background-color: #444;
}

.padding-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    align-items: center;
}

.font-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    align-items: center;
}

.option-label {
    color: #bbbbbb;
}

.option-value {
    font-weight: bold;
    transition:
        transform 0.3s ease-out,
        opacity 0.3s ease-out;
    opacity: 1;
    transform: scale(1);
}

.option-value.animate {
    opacity: 0.5;
    transform: scale(1.2) rotate(0.02turn); /* Slightly enlarged and rotated for emphasis */
}
