:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    line-gap-override: 10;
    font-weight: 400;
    font-size: large;
    text-align: justify;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.8);
    background-color: black;
    /* height: 100svh;
    width: 100svw; */
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: none;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --x-padding: 30px;
    --y-padding: 100px;
}

body {
    height: 100svh;
    width: 100svw;
}

.root {
    width: 100svw;
    height: 100svh;
}

.navv * {
    position: absolute;
}

#nav-menu {
    top: 0;
    left: 0;
    width: 100svw;
    height: 15svh;
}

#page-turn-left {
    top: 15svh;
    left: 0;
    width: 40svw;
    height: 80svh;
}

#page-turn-right {
    top: 15svh;
    left: 40svw;
    width: 60svw;
    height: 80svh;
}

.book-page {
    margin: 0;
    padding: calc(var(--y-padding) * 0.3) var(--x-padding)
        calc(var(--y-padding) * 0.7);
    height: calc(100svh - var(--y-padding));
    text-shadow: 2px 2px 5px rgba(0, 0, 0);

    column-gap: calc(2 * var(--x-padding));
    column-fill: balance;
    position: relative;
    overflow: hidden hidden;
    -moz-column-gap: calc(2 * var(--x-padding));
    -webkit-column-gap: calc(2 * var(--x-padding));
}

@media screen and (orientation: landscape) {
    .book-page {
        width: calc(100svw - 2 * var(--x-padding));
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
    }
}

@media screen and (orientation: portrait) {
    .book-page {
        width: calc(100svw - 2 * var(--x-padding));
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;

        /* without this safari does not play nice, creating only one column, period */
        column-width: calc(100svw - 2 * var(--x-padding));
        -webkit-column-width: calc(100svw - 2 * var(--x-padding));
    }
}

.book-page img {
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 50px;
    border-radius: 20px;
    max-height: calc(100svh - 2 * var(--x-padding)) !important;
}

.page {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-chapter {
    margin-bottom: 100svh;
}

.input > * {
    margin-top: 30px;
}

.page-number {
    position: absolute;
    top: 94svh;
    left: 50svw;
    transform: translateX(-50%);
    font-size: 13px;
    color: gray;
    transition: all 0.3s ease-in-out;
}
